@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');


.schoolHandler{
    position: relative;
    width:1000px;
    height:185.7px;
    left: 0px;
bottom: 700px;
}
.schoolHandler h1{
font-family: "Alfa Slab One";
font-weight: lighter;
letter-spacing: 4px;
font-size: 35px;



}
.schoolHandler p{

    position:relative;
    font-family: "Montserrat";
    letter-spacing: 4px;
    font-size: 30px;
    display: block;
    left: 30px;
    font-weight: bold;
}
.image-container {
  
    position:relative;
    width: 1000px;
    height: 1000px;
    left: 10%;
    margin-top:1%;
    flex-direction: column;
display: block;
    margin:auto;
  }
  
  .top-row,
  .bottom-row {
    display: flex;
  }
  
  .top-row img,
  .bottom-row img {
    
    position:relative;
    display:flex;
    width: 450px;
    height: 300px;
    left: 300px;
    margin: 5px;
    border-radius: 10px;
    object-fit: cover;
    image-rendering: pixelated;
  }
  @media (max-width: 767px) {
    .schoolHandler {
      display: flex;
        width: 300px; /* Adjust width as needed */
        height: auto; /* Adjust height as needed */
        left: auto; /* Adjust position as needed */
        bottom: auto; /* Adjust position as needed */
    }

    .schoolHandler h1 {
        font-size: 25px; /* Adjust font size as needed */
    }

    .schoolHandler p {
        font-size: 20px; /* Adjust font size as needed */
        left: 10px; /* Adjust position as needed */
    }

    .image-container {
      display:block;
        width: auto; /* Adjust width as needed */
        left: 5%; /* Adjust position as needed */
    }

    .top-row img,
    .bottom-row img {
            display:block;
        width: 100%; /* Adjust width as needed */
        height: auto; /* Adjust height as needed */
        left: 0; /* Adjust position as needed */
    }
}

/* Tablets and small desktops (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    /* Adjust styles for this screen size range */
}

/* Medium and large desktops (992px and above) */
@media (min-width: 992px) {
    /* Adjust styles for this screen size range */
}