.creatorimage{
    left: 15%;
    position: relative;
    margin-top:10%;
    text-align: center;
    margin-right: 100px;
    width: 400px;
    height: 400px;
}
.creatorimage img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }